body {
    background-color: black;
    display: block;
    margin: auto ;
    width: 50%;
}
div {
    font-size: medium;
    font-weight: 800;
    color: whitesmoke;
    padding: 10px 15px;
    display: block;
    margin: auto ;
    width: 50%;
}
button#botonHacer {
    padding: 20px 60px;
    color: navy;
    font-weight: bold;
    display: block;
    margin: auto ;
    width: 50%;
}

#results {
    padding: 20px;
    background-color: oldlace;
    color: orangered;
    max-width: fit-content;
}
